@model IEnumerable<EzLib.Models.LibraryItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<a class="btn btn-primary" asp-action="Index" asp-route-sortByType="Type">Sort by Type</a>
<a class="btn btn-secondary" asp-action="Index" asp-route-sortByType="Category">Sort by Category</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBorrowable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBorrowable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @if (item.IsBorrowable && string.IsNullOrEmpty(item.Borrower) && item.Type != "Reference Book")
                {
                    <a asp-controller="BorrowReturnLibraryItem" asp-action="Borrow" asp-route-id="@item.Id">Borrow</a>
                }
                @if (!item.IsBorrowable && !string.IsNullOrEmpty(item.Borrower) && item.Type != "Reference Book")
                {
                    <a asp-controller="BorrowReturnLibraryItem" asp-action="Return" asp-route-id="@item.Id">Return</a>
                } |
                @if (item.IsBorrowable && string.IsNullOrEmpty(item.Borrower) || item.Type == "Reference Book")
                {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    
                } |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (item.IsBorrowable && string.IsNullOrEmpty(item.Borrower) || item.Type == "Reference Book")
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
